<% movie = bookmark.movie %>
<%= link_to details_bookmark_path(bookmark), data: { turbo: true, turbo_frame: "modal" }  do %>
  <div class="card-movie" style="background-image: url(<%= movie.poster_url%>)">
    <p class="card-rating"><i class="fas fa-star"></i> <%= movie.rating %></p>
  </div>
<% end %>
