<div class="movie">
  <%= image_tag src: movie.poster_url, class: 'movie-poster' %>
  <div class="movie-info">
    <h3><%= movie.title %></h3>
    <p><%= movie.overview %></p>
    <p><%= movie.rating %></p>
  </div>
</div>
