<div class="banner banner-section" style="background-image: linear-gradient(0deg, rgba(0,0,0,0.8) 25%, rgba(0,0,0,0.9) 100%), url('<%= image_url 'lists.jpg'%>')">
  <div class="banner-content">
    <div class="banner-container">
      <h1>Watch Lists</h1>
    </div>
  </div>
</div>
<div class="container p-5 text-center">
  <%= link_to new_list_path, class: "btn-capsule btn-gold", data: { turbo: true, turbo_frame: "modal" } do %>
    <i class="fas fa-plus mr-2"></i>New List
  <% end %>
  <div class="cards mt-3" id="watchlists">
    <% @lists.each do |list| %>
      <%= render "list", list: list %>
    <% end %>
  </div>
</div>
