// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// $watchlist-black: #000000;
$black:       #0B090A;
$dark-grey:   #1F1F1E;
$medium-grey: #524E4E;
$white:       #FFFFFF;
$light-red:   #E5383B;
$red:         #BA181B;
$dark-red:    #A30000;
$white-frosted: rgba(#FFFFFF, $alpha: 0.1);

$frosted-blur: blur(4px);
