<div class="footer">
  <div class="links">
    <%= link_to "https://github.com/pmkihara" do %>
      <i class="fab fa-github"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/patricia-kihara" do %>
      <i class="fab fa-linkedin-in ms-3"></i>
    <% end %>
  </div>
  <div>
    <p>Patricia Mey Kihara - Le Wagon #690</p>
  </div>
</div>
