<div class="footer">
  <div class="links">
    <%= link_to 'https://github.com/pmkihara' do %>
      <i class="fab fa-github"></i>
    <% end %>
    <%= link_to 'https://www.linkedin.com/in/patricia-kihara' do %>
      <i class="fab fa-linkedin-in ml-3"></i>
    <% end %>
    <%= link_to 'https://discordapp.com/users/437291396374724618' do %>
      <i class="fab fa-discord ml-3"></i>
    <% end %>
  </div>
  <div>
    <p>PMK - #690</p>
  </div>
</div>
