<div class="navbar">
  <div class="links">
    <%= link_to root_path do %>
      <div class="logo">
        <%= inline_svg 'popcorn.svg' %>
      </div>
    <% end %>
    <%= link_to 'Lists', lists_path, class: 'ml-3' %>
  </div>
</div>
