<div class="navbar">
  <div class="links">
    <%= link_to root_path, class: "links" do %>
      <div class="logo me-3">
        <%= inline_svg_tag "popcorn.svg" %>
      </div>
    <% end %>
  </div>
  <div class="links">
    <%= link_to "All Lists", lists_path, class: "ms-3" %>
  </div>
</div>
