<div class="navbar">
  <div class="links">
    <%= link_to root_path, class: 'links' do %>
      <div class="logo mr-3">
        <%= inline_svg_tag 'popcorn.svg' %>
      </div>
    <% end %>
  </div>
  <div class="links">
    <%= link_to 'All Lists', lists_path, class: 'ml-3' %>
  </div>
</div>
