.banner {
  align-items: center;
  background-size: cover;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  p, h1 {
    text-shadow: 0 0 6px #ffffff;
  }
  h1 {
    text-transform: uppercase;
  }
  p {
    opacity: 0.8;
  }
  .banner-container {
    max-width: 80%;
    text-align: center;
  }
}

.banner-full {
  height: 100vh;
  p {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 3.2rem;
  }
}

.banner-section {
  min-height: 50vh;
  .banner-content {
    align-items: center;
    bottom: 0;
    display: flex;
    min-height: calc(50vh - #{$navbar-height});
    justify-content: center;
    width: 100%;
  }
  .banner-container {
    padding-top: $navbar-height !important;
    position: relative;
    min-width: 50%;
    p {
      margin: 0;
    }
  }
}
