.btn-capsule {
  border-radius: 3rem;
  cursor: pointer;
  display: inline;
  padding: 1rem 2rem;
}
.btn-capsule-sm {
  border-radius: 2rem;
  cursor: pointer;
  display: inline;
  padding: 0.6rem 1.2rem;
}
.btn-frosted {
  background-color: $white-frosted;
  backdrop-filter: $frosted-blur;
  -webkit-backdrop-filter: $frosted-blur;
  border: 1px solid $white;
  color: $white;
  font-weight: 700;
  letter-spacing: 1px;
  transition: background-color 0.3s;
  &:hover {
    background-color: rgba($white, $alpha: 0.2);
    color: $white;
  }
}
.btn-red {
  background-color: $dark-red;
  border: 0;
  color: $white;
  font-weight: 700;
  letter-spacing: 1px;
  transition: background-color 0.3s;
  &:hover {
    background-color: $light-red;
    color: $white;
  }
}
