.btn-capsule {
  border-radius: 3rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 1px;
  padding: 0.6rem 1.5rem;
}
.btn-capsule-sm {
  border-radius: 2rem;
  cursor: pointer;
  display: inline-block;
  font-weight: 700;
  padding: 0.3rem 1rem;
}
.btn-frosted {
  background-color: $white-frosted;
  backdrop-filter: $frosted-blur;
  -webkit-backdrop-filter: $frosted-blur;
  border: 1px solid $white;
  color: $white;
  transition: $animate;
  &:hover {
    background-color: rgba($white, $alpha: 0.2);
    color: $white;
  }
}
.btn-gold {
  background-color: $gold;
  border: 0;
  color: $white;
  transition: $animate;
  &:hover {
    background-color: $dark-gold;
    color: $white;
  }
}
.btn-outline-gold {
  background: none;
  border: 2px solid $gold;
  color: $gold;
  transition: $animate;
  &:hover {
    border-color: $light-gold;
    color: $light-gold;
    box-shadow: 0 0 5px $dark-gold, 0 0 5px $dark-gold inset;
  }
}
