// Container for the cards
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

// Common styles for lists and movies cards
.card-list, .card-movie {
  background-size: cover;
  border-radius: 4px;
  box-shadow: 2px 2px 8px 1px rgba($black, $alpha: 0.3);
  transition: $animate;
  &:hover {
    box-shadow: 0 0 10px rgba($light-gold, $alpha: 0.3);
    transform: translate(0, -4px);
  }
}

// List card
.card-list {
  align-items: center;
  color: $black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 7rem;
  max-height: 7rem;
  overflow: hidden;
  padding: 1rem 0;
  width: 20rem;
  .card-list-info {
    background-color: $white-frosted;
    backdrop-filter: $frosted-blur;
    -webkit-backdrop-filter: $frosted-blur;
    padding: 0.3rem 1rem;
    text-align: center;
    transition: $animate;
    width: 100%;
    p, h5 {
      font-family: $body-font;
      margin: 0;
    }
    h5 {
      font-weight: 900;
      text-shadow: 0 0 7px white
    }
    p {
      display: none;
    }
  }
  &:hover {
    .card-list-info {
      background-color: rgba($white, $alpha: 0.5);
      p {
        display: block;
      }
      h5 {
        text-shadow: none
      }
    }
  }
}

// Movie card
.card-movie {
  height: 14rem;
  position: relative;
  width: 10rem;
  .card-rating {
    background-color: $light-gold;
    bottom: 1rem;
    color: $black;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0;
    padding: 0 0.5rem;
    position: absolute;
    right: 0;
  }
}

// Movie details card
.modal-card.card-details {
  img {
    max-width: 100%;
  }
  a {
    color: $gold;
  }
}
