.form-list {
  .form-control, .form-control.is-invalid {
    background: $white-frosted;
    border-color: $white;
    border-radius: 4rem;
    color: $white;
    padding: 0.25rem;
    text-align: center;
    &:focus {
      border-color: #ffb1b1;
      box-shadow: 0 0 0 0.2rem rgba($light-red, $alpha: 0.3)
    }

  }
  .invalid-feedback {
    color: $white;
  }
  ::placeholder {
    color: $white;
    opacity: 0.6;
  }
  ::-ms-input-placeholder {
    color: $white;
  }
  ::-ms-input-placeholder {
    color: $white;
  }
}
