.link-underline {
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    bottom: -0.2em;
    left: 0;
    width: 0;
    height: 0.2em;
    background-color: $gold;
    opacity: 0;
    transition: opacity 300ms, width 300ms;
  }
  &:hover::after {
    width: 100%;
    opacity: 1;
  }
}

.link-gold {
  color: $gold;
}
